.nav-item .nav-link {
    font-size: 17px !important;
}


.btn-head {
    background-color: #f40000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
html, body {
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.btn {

    height: 49px;
    width: 276px;
    border-radius: 0%;
    font-size: 19px;

}


.logo {
    height: 110px;
    width: 250px;
}

.nav-head {
    font-size: 17px;
    color: black;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center
}





.text {
    font-size: 20px;
    padding-right: 10px;

}
.btn-head {
    background-color: #f40000 !important;
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn {

    height: 49px;
    width: 276px;
    border-radius: 0%;
    font-size: 19px;

}
.nav-head {
    font-size: 17px;
    color: black !important;

}

.yash_varma p,
        h1 {
            color: white;
        }
.footer_img{
    display: flex;
    flex-direction:row;
    
    }
.footer_img{
  padding-top: 10px;
}
.footer_img img{
     padding-right: 5px;
    }

    ul a{
        color:white;
       }
       ul a:hover{
        color: #f40000;
       }
       .line{
        background-color: #f40000 ;
        width: 50px;
        height:2px;
    }
    .bi-head{
        color:#f40000;
        padding-right: 5px;
    }
    #contact {
        background-image: url(bg1\ \(1\).jpg);
        /* background: rgba(0, 0, 0, 0.5), url('hangers-wooden-closet-scaled.jpg'); */
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vh;
        background-size: cover;
        /* background-color: #212020; */
        place-content: center;
        text-align: center;
       
    
    }
  
    
    

    .second_btn {
        height: 45px;
        width: 145px;
        background-color: #6f6f6f;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 48px;
    }

    
    .second_btn:hover{
        background-color: #f40000;
    }
    